PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bookvault?schema=public"
JWT_SECRET=u!:]Y6VT0d<</3:R|XIqz1)(>P5_dBP4Yn!Sg$ix.oL
JWT_REFRESH_SECRET=19d3d5e92ac5ec5da9b3e16d4668e3843d1aca123c92bea047d41e04789f3ac3217e38f908389d219619f9214c1ffa729b86e770286efa8e522e9bcfc9b5ae98
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=mayankrafiganj19@gmail.com
SMTP_PASS=zqcr eari jkdm rkpy
FROM_EMAIL="noreply@bookvault.com"
FRONTEND_URL="http://localhost:5174"
